
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-background: rgb(13, 4, 46);
    --color-section: #FFFFFF11;
    --color-title: orange;
    --color-paragraph: #FFFFFFCC;
    --color-header: rgb(37, 28, 66);
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-paragraph);
}

p {
    color: var(--color-paragraph);
    margin: 1rem;
}

h1 {
    margin: 0.5rem;
    letter-spacing: 0.5rem;
}

#nav-desktop {
    display: none;
}

h2 {
    color: var(--color-title);
    margin: 1rem;
}

h2:hover {
    text-shadow: 0 0 5px var(--color-title);
}

h2 i {
    padding: 0.5rem;
    background-color: var(--color-title);
    border-radius: 50%;
    margin-right: 1rem;
    color: var(--color-header);
}

h3 {
    color: var(--color-paragraph);
    margin: 1rem;
    border-bottom: 2px solid var(--color-title);
    /* border-radius: 3px; */
    /* background-color: var(--color-section); */
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

h4 {
    color: var(--color-paragraph);
    margin: 1rem;
    display: inline;
}




/* INFO */

.info li {
    padding: 0px;
    margin-top: 0.5rem;
}

.info li:hover {
    padding: 0px;
    margin-top: 0.5rem;
    color: #FFF;
}

.info {
    list-style-type: none;
    padding-left: 1rem;
    font-size: medium;
    margin: 0px;
}

.info .fa {
    padding: 0.2rem;
    margin-right: 0.5rem;
    margin-top: 0px;
    font-size: medium;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    height: 180px;
    background-color: var(--color-header);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    transition-delay: 0.3s;
    z-index: 2;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 200%;
    left: 50%;
    margin-left: -5px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0s;
}

.follow {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.follow a:hover {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

/* font awesome */
.follow .fa {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-paragraph);
    margin: 0.2rem;
}

.follow .fa:hover {
    color: #FFF;
    text-shadow: 0 0 3px #FFFA;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    transition: 0s, color;
}

.menu {
    visibility: visible;
    background-color: orange;
    align-self: center;
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;
    margin: -2.5rem;
    bottom: 1.5rem;
    left: 50%;
    border-radius: 50%;
    color: red;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: xx-large;
}

.menu:hover {
    bottom: 3rem;
}

.menu-tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-header);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -6.5rem;
    z-index: 2;
    transform: scale(0.5);
    transition: 0.5s;
}

.menu-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 50%;
    margin-left: -25px;
    border-width: 25px;
    border-style: solid;
    border-color: var(--color-header) transparent transparent transparent;
}

.tooltip:hover .menu-tooltiptext {
    visibility: visible;
    opacity: 0.9;
    transform: translateY(-21rem);
    transition: 0.5s;
}


nav section {
    display: block;
}


nav section:hover {
    border-bottom: 3px solid;
    color: var(--color-title);
    transition: 0.5s;
}

nav section:active {
    background: var(--color-title);
    color: #444;
    border-bottom: 3px;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'aside'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: var(--color-background);
    padding: 10px;
}

header {
    grid-area: header;
    background-color: var(--color-header);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

aside {
    grid-area: aside;
    background-color: var(--color-section);
}

main section {
    background-color: var(--color-section);
}

.empleo,
.estudio {
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 1rem;
    background-color: var(--color-section);
}

.empleo:hover {
    border: 1px solid var(--color-title);
    border-radius: 10px;
    transition: 0.5s;
}

.empleo a {
    position: relative;
    z-index: 1;
}

.empleo a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-title);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.empleo a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.periodo,
.tipo-contrato,
.empresa,
.estado {
    color: #FFFFFF66;
}

.periodo::before,
.estado::before {
    content: " · ";
}

/*  */


.experience li {
    list-style-type: none;
    border: 1px solid transparent;
    color: #FFFA;
}

.experience li:before {
    content: " ";
    border: 4px solid var(--color-title);
    border-radius: 4px;
    display: inline-block;
    margin-top: 0.4rem;
    margin-right: 1rem;
}

.experience li:hover {
    color: #FFF;
}

.experience li:hover:before {
    transform: rotate(45deg) scale(1.2);
    transition: 0.2s;
    border-radius: 1px;
}

.experience {
    grid-area: experience;
}

.education {
    grid-area: education;
}

.programing {
    grid-area: programing;
}

.programing-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.programing-item {
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
}

.label {
    width: 7rem;
}

.bar {
    align-self: center;
    height: 4px;
    flex-grow: 1;
    background-color: #333;
    border-radius: 2px;
}

.bar-progress {
    align-self: center;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-title);
    opacity: 0.8;
}

.programing-item:hover .bar-progress {
    transform: scaleY(1.3);
    opacity: 1;
}

.programing-item:hover .label {
    color: #FFF;
}

#html {
    width: 60%;
}

#css {
    width: 50%;
}

#javascript {
    width: 10%;
}

#java {
    width: 20%;
}

#python {
    width: 3%;
}

#c {
    width: 10%;
}

.software {
    grid-area: software;
}

.software-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-evenly;
    text-align: center;
    transition: 1s;
}

.software-item {
    display: grid;
    grid-template-columns: 1;
    justify-items: center;
    border: solid transparent;
    position: relative;
}

.circleBase {
    stroke: #333;
    stroke-width: 4px;
    fill: none;
}

.circleBar {
    stroke: orange;
    stroke-width: 4px;
    fill: none;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
}

.logo-software {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 19%;
    transform: scale(1) rotateY(0deg);
    transition: 0.6s ease;
}

.software-item:hover .logo-software {
    transform: scale(1.4) rotateY(360deg);
    transition: 0.6s ease;
}

.interest {
    grid-area: interest;
}

.interest-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
}

.interest-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin: 1rem;
}

#wip {
    width: 7rem;
    height: fit-content;
    background-color: black;
}

#wip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 40%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.interest .fa {
    font-size: xx-large;
}

#inyectec {
    width: 354px;
    height: 200px;
}


.contact {
    grid-area: contact;
}

.form-container {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: var(--color-background);
    border: 0;
    margin: 1rem;
    padding: 1rem;
    resize: none;
}

input:focus,
textarea:focus {
    outline: orange solid 2px;
}

.msj-error {
    color: red;
    margin: 1rem;
    padding: 1rem;
    display: none;
}

form button {
    background-color: var(--color-title);
    align-self: center;
    margin: 1rem;
    padding: 1rem 2rem 1rem 2rem;

    border: none;
    color: white;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

form button:hover {
    opacity: 1
}

footer {
    grid-area: footer;
    display: grid;
    justify-items: center;
    background-color: var(--color-section);
}

footer p {
    color: var(--color-section);
}


/* for smartphone */

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        'experience'
        'education'
        'programing'
        'software'
        'interest'
        'contact';
    grid-template-columns: 1fr;
    grid-gap: 10px;
}




@media only screen and (min-width: 750px) {

    /*for tablet */

    #nav-desktop {
        display: flex;
    }

    .menu {
        visibility: hidden;
        position: absolute;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav section {
        display: block;
        flex-grow: 1;
        border-bottom: 3px solid transparent;
        padding: 0.5rem;
    }

    body {
        display: grid;
        grid-template-areas:
            'header header'
            'aside  main'
            'aside  footer';
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 250px 1fr;
        grid-gap: 10px;
        padding: 10px;
    }

    .info {
        list-style-type: none;
        padding-left: 1rem;
        font-size: small;
        margin: 0px;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-areas:
            'experience'
            'education'
            'programing'
            'software'
            'interest'
            'contact';
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }


}

@media only screen and (min-width: 900px) {

    /*for desktop */

    main {
        grid-area: main;
        display: grid;
        grid-template-areas:
            'experience experience'
            'education education'
            'programing software'
            'interest interest'
            'contact contact';
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

    }


}